body{
    font-family: "Poppins", sans-serif;
} 
.banner{
    background-image: url(E:\JS\portfolio\kalanithi-portfolio\images\workspace.jpg);
    background-size:cover;
    padding: 200px;
}
.skills-padding{
    padding:70px;
}
